/vendor

/*.sublime*
/*.settings
/*nbproject/*

/.buildpath
/.project

.idea/
.vscode/

#Linux
!.gitignore
*~

#Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

composer.phar

.phpunit.result.cache